<section class="katalog_page" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-3 col-sm-3">
    <%= render 'layouts/menu' %>

    <div class="block_filther">
      <div class="price_text">Цена, руб.</div>
      <input type="text" id="minCost" value="0"/>
      —
      <input type="text" id="maxCost" value="1000"/>

      <div class="price_text" id="filter_city">Место склада (город)</div>

      <select id="select_city">
        <option>Кемерово (Россия)</option>
        <option>Душанбе (Таджикистан)</option>
        <option>Исфара (Россия)</option>
      </select>

      <div class="in_stock">
        <input type="checkbox" checked> <span>Есть в наличии</span>
      </div>
      <div class="only_with_photo">
        <input type="checkbox" checked> <span>с фото</span>
      </div>

      <button id="filter_show">Показать</button>
      <button id="filter_restart">Сбросить</button>
    </div>
  </div>

  <div class="col-md-9 col-sm-9">

      <div class="katalog_link">
        <a href="" id="katalog_link_to_main"></a><a href="">Каталог</a><a href="">Фрукты</a>
      </div>

    <div class="sortirovka">
        <span> Сортировать по</span>
        <span> Рейтингу</span>
        <span class="sortirovka_active"> Цене</span>
        <span> Дате</span>
    </div>

    <% @product.each do |prod| %>
    <div class="col-md-4 col-sm-4">
      <div class="product">

        <h2><%= prod.name %></h2>
        <div class="reting">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
        <div class="product_photo" style="background-image: url(<%= prod.decript_photo %>)"></div>
        <div class="product_price"><%= prod.price %></div>
        <div class="product_adress">Место склада: <span><%= prod.city.name %></span></div>
        <%= link_to 'Подробнее', home_product_url %>
      </div>
    </div>
    <% end %>

    <div class="clear"></div>

    <div class="prev_next_page">
      <div class="prev"></div>
      <div class="page_number">1</div>
      <div class="page_number active_page">2</div>
      <div class="page_number">3</div>
      <div class="next"></div>
    </div>
  </div>

<div class="clear"></div>

</section>